body{
    margin-left: 100px;
    margin-right: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.face {
    color:tomato;
}
.back{
    color:olive;
}
.kinoeda{
    color:darkgoldenrod;
}
